*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background: skyblue;
    width: 10%;
    height: 110px;
    text-align: center;
}